// Typography defaults

html, body {
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
	-moz-osx-font-smoothing: grayscale !important;
	-webkit-backface-visibility:hidden;
}

.bg-black {
	background-color: black;
}


h1 {
	line-height: 1.3;
	padding-bottom: 18px;
	font-size: 1.2rem;
}

.main a {
	border-bottom: 1px solid;
	color: black;
	&:hover {
		color: $text-link-hover-color;
		border-bottom: 1px solid $text-link-hover-color;

	}
}

a:hover { color: darken($primary-color, 50); }

p {
	font-size: rem-calc(13px);
	line-height: 1.3;
	margin-bottom: 0.8rem;
}

ul, ol, dl {
	font-size: rem-calc(12px);
	line-height: 1.5;
}

//  horiz rule
hr { border-color: #b9debc}

.hr__large-margin {
	margin-top: 42px;
	margin-bottom: 42px;
}








// Single posts temporary styling overrides
p.byline.author {
	display: none;
}

.page-category-label {
	display: none;
}