// Typography defaults

a:hover { color: darken($primary-color, 50); }

p {font-size: rem-calc(12px); }

ul, ol, dl {
	font-size: rem-calc(12px);
	line-height: 1.6;
} 

// headings
.heading__page-title {
	padding-bottom: 42px;
}







// Single posts temporary styling overrides
p.byline.author {
	display: none;
}

.page-category-label {
	display: none;
}