.heading__page-title {
	padding-bottom: 14px;

	.homepage-link {
		color: $lighter-gray-text;
		font-size: rem-calc(16);
		&:hover { color: $text-link-hover-color; border-bottom: solid 1px $text-link-hover-color}

		@media #{$small-only} { display: none;}

		&.active {
			color: black;
			border-bottom: solid 1px black;
			&:hover { border-bottom: 0; }
		}

		.bg-black & {
			color: #4D4D4D;

			&:hover {
				color: $lighter-gray-text;
			}
		}
	}
}

.page__title {
	padding-bottom: 14px;
}


.mobile-title-link { display: none; }

