// Royal Slider overides


// set background for the slider to black;
.rsUni, .rsUni .rsOverflow, .rsUni .rsSlide, .rsUni .rsVideoFrameHolder, .rsUni .rsThumbs {
	background: black !important;
	color: #FFF;
}

.rsDefault, .rsDefault .rsOverflow, .rsDefault .rsSlide, .rsDefault .rsVideoFrameHolder, .rsDefault .rsThumbs {
	background: black !important;
	color: #FFF;
}


// links in sliders
.royalSlider a {
	color: white;
	font-size: 12px;

}

.rsPete .rsGCaption {
	position: absolute;
	float: none;
	bottom: 6px;
	left: 6px;
	text-align: left;
	background: black;
	background: rgba(0, 0, 0, 0);
	color: #FFF;
	padding: 12px;
	width: 37%;
	max-width: 370px;
	font-size: 12px;
	line-height: 1.3em;
	border-radius: 0;
	a:hover{ text-decoration: underline; }
}

.rsPete .rsGCaption.__black {
	color: black !important;
	a { color: black !important;}
}


article .royalSlider {
   width: 100%;
   height: auto;
   margin-top: 20px;
   margin-bottom:20px;
}


//  [ + ] button
.link__to-main-content {
	display: block;
	position: absolute;
	width: 50px;
	bottom: 24px;
	left: 50%;
	text-align: center;
	margin-left: -25px;
	z-index: 88888;
	a {font-weight: bold;}
	a:hover{
		border-bottom: 0;
		text-decoration: none;
	}

	&.__black a {
		color: black !important;
	}
}

a.slider__read-more-link {
	font-weight: bold;
	text-decoration: underline;
	&:hover { text-decoration: none;}
}

.rsPete .rsThumb.rsNavSelected {
	background: none;
}


// play button for vimeo videos in slider
.arve-play-background, .arve-play-background:focus, .arve-play-background:hover {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEEAAABBCAQAAAAk/gHOAAAA8klEQVR4Ae3WIQ+CABDF8ZdsJhoFEs3EJ7DYTCaCG4lMMZhNbmaDxayVQLG5Wc1UorMY2Gg42G4jadDxyvvfF/jtDhhQSimlvjRCgHDg8dErQIyEMBEcAyS0iTsEaQM2c8BFQh6EIoggwi+EPLtevJRMaJq6OhzJhLayWG6IBOt+81IyoT3J+UQkWI9ytSMT7CRUgp2ETLCTkAl2EiLBdkEl1FWeUQ9RFtM18Vl4Pbd76huRZ9Tvgq2fRLD1kwi2fhrB1k8i2PppBFu/fuJF+PPA5ROAiAqYAYBPBMQYo8snbWIBB71chIPOBA6UUkqpj70BZMQzi2Aw7n8AAAAASUVORK5CYII=') !important;
}
