// Royal Slider overides


// set background for the slider to black;
.rsUni, .rsUni .rsOverflow, .rsUni .rsSlide, .rsUni .rsVideoFrameHolder, .rsUni .rsThumbs {
	background: black !important;
	color: #FFF;
}

.rsDefault, .rsDefault .rsOverflow, .rsDefault .rsSlide, .rsDefault .rsVideoFrameHolder, .rsDefault .rsThumbs {
	background: black !important;
	color: #FFF;
}


// links in sliders
.royalSlider a {
	color: white;
	font-size: 12px;

}

//  [ + ] button
.reveal-main-content {

}

.rsPete .rsGCaption {
	position: absolute;
	float: none;
	bottom: 6px;
	left: 6px;
	text-align: left;
	background: black;
	background: rgba(0, 0, 0, 0);
	color: #FFF;
	padding: 12px;
	width: 37%;
	font-size: 12px;
	line-height: 1.3em;
	border-radius: 0;
	a:hover{ text-decoration: underline; }
}

.rsPete .rsGCaption.__black {
	color: black !important;
	a { color: black !important;}
}


article .royalSlider {
   width: 100%;
   height: auto;
}

.link__to-main-content {
	display: block;
	position: absolute;
	width: 50px;
	bottom: 24px;
	left: 50%;
	text-align: center;
	margin-left: -25px;
	z-index: 88888;
	a:hover{ border-bottom: solid 1px white;}
	&.__black a {
		color: black !important;
		&:hover { border-bottom: solid 1px black; }
	}

}