.panel__news-events {
	padding-top: 12px;
	@media #{$small-only} { padding-top: 0; }
}

.list__news_events {
	padding-bottom: 42px;
	@media #{$small-only} { max-width: 100%; }
}


.list_item__news {
	padding-top: 6px;
	padding-bottom: 6px;
	a {
		color: black;
	}
	a:hover { color: $text-link-hover-color }

	&.new_year {
		border-top: 1px solid #b9debc;
		padding-top: 24px;
		margin-top: 18px;
	}
}

// don't show underline for year separator if it's the first item in the list
.list_item__news.new_year:first-child{
	border-top: 0;
	padding-top: 6px;
	margin-top: 0;

	.page-template-template-newsevents & {
		padding-top: 46px;
		margin-top: 18px;
	}
}



.list__news_events .sub-list {
	list-style-type: none;
	margin-left: 0;
	float: left;
}


.news__view-all-link {
	text-align: right;
	clear:both;
	display: block;
	a {
		color: black;
		font-size: 13px;
		text-decoration: underline;
		&:hover {
			text-decoration: none;
		}
	}
}

//  horiz rule styling
.news_separator { border-color: #E6F3E7; }