.list__news_events {
	list-style-type: none;
	margin-left: 0;

	a { border-bottom: none;}
	a:hover {border-bottom: 1px solid;}
}

// .home .content {
// 	display:none; // hide content until ( + ) arrow is clicked on homepage only
// }

// .home .green-decoration { display: none;}